//
// Font styles //
//
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;

$font-weight-black: 900;
$font-weight-extra-bold: 800;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-extra-light: 200;
$font-weight-thin: 100;


//
// Colors //
//
$color-black: #000;
$color-dark: #181b1e;
$color-dark-09: rgba(24, 27, 30, 0.9);
$color-dark-08: rgba(24, 27, 30, 0.8);
$color-dark-07: rgba(24, 27, 30, 0.7);
$color-dark-06: rgba(24, 27, 30, 0.6);
$color-dark-05: rgba(24, 27, 30, 0.5);
$color-dark-04: rgba(24, 27, 30, 0.4);
$color-dark-03: rgba(24, 27, 30, 0.3);
$color-dark-02: rgba(24, 27, 30, 0.2);
$color-dark-01: rgba(24, 27, 30, 0.1);
$color-white: #f9f9f9;
$color-white-09: rgba(255, 255, 255, 0.9);
$color-white-08: rgba(255, 255, 255, 0.8);
$color-white-07: rgba(255, 255, 255, 0.7);
$color-white-06: rgba(255, 255, 255, 0.6);
$color-white-05: rgba(255, 255, 255, 0.5);
$color-white-04: rgba(255, 255, 255, 0.4);
$color-white-03: rgba(255, 255, 255, 0.3);
$color-white-02: rgba(255, 255, 255, 0.2);
$color-white-01: rgba(255, 255, 255, 0.1);

// $color-primary: #767A7D;
$color-primary: #56585a;
$color-primary-lighter: #a3a6a8;

$color-green: #50c878;
$color-red: #e84e52;
$color-yellow-orange: #ffae42;


//
// Background Colors //
//
$bg-light-gray: #f2f3f4;
$bg-gray: #eaebec;
$bg-dark-gray: #4a4d51;
$bg-dark: #181b1e;


//
// Border Colors //
//
$border-gray: rgb(218, 220, 222);


//
// Button Colors //
//
$button-gray: #dcdee0;
$button-dark: #222528;
